.detail__wrapper{
  width: 100%;
}

.detail__header {
  border-bottom: 1px dotted rgba(0,0,0,.5);
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.detail__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.detail__image {
  background-color: rgb(250,250,250);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 1.5rem;
  width: 48%;
  box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.25);
}

.detail__info {
  width: 48%;
}