.list__item {
  align-items: center;
  background-color: rgba(0,0,0,.05);
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.1);
  box-sizing: inherit;
  color: rgba(0,0,0,.5);
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  padding: .5rem;
  text-align: center;
}

.list__item:hover {
  border-top: 2px solid rgba(0,0,0,.15);
  border-bottom: 2px solid rgba(0,0,0,.15);
  box-sizing: inherit;
  color: rgba(0,0,0,.5);
  padding: .5rem;
}

.list__link {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}